.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.canvas {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 50rem;
  width: 50rem;
  margin: 0 auto;

  background-color: #e1e1dd;

  h1 {
    margin-top: 2rem;
  }

  ol {
    margin-top: 6rem;
    font-size: 1.6rem;
  }
}
